#home-section {
  flex: 0.4;
  padding: 0 0.2rem;
}

#home-article {
  background-color: var(--orange-color-1);
  color: white;
  padding: 0.2rem 0;
  max-width: 20rem;
}

#home-article:hover {
  background-color: rgb(214, 107, 7);
  box-shadow: var(--box-shadow-015);
}

.title {
  flex: 1;
  height: 50%;
  letter-spacing: 4px;
}
