#filter-seperator-section {
  position: absolute;
  top: 4rem;
  max-height: 3rem;
  max-width: 3rem;
  background-color: transparent;
}

#filter-seperator-article {
  width: 0;
  height: 0;
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent;
  border-left: 2rem solid var(--orange-color-1);
  position: relative;
  top: -0.7rem;
  transform: rotate(-90deg);
}
