#categories-section {
  position: absolute;
  border: 0.2rem solid var(--orange-color-1);
  border-radius: 1rem;
  top: var(--absolute-position-top);
  left: 0;
  width: var(--category-width);
  height: auto;
  max-height: 20rem;
  overflow: hidden;
  transform: scale(0);
  transform-origin: top left;
  transition: 0.1s;
}

.categories-article {
  flex-direction: column;
  height: auto;
  background-color: white;
  color: var(--orange-color-1);
  cursor: pointer;
  font-weight: 800;
}

.categories-article:nth-child(2n) {
  background-color: var(--orange-color-1);
  color: white;
}

.categories-div {
  min-height: 4rem;
}
