#sub-categories-section {
  position: absolute;
  top: 5rem;
  left: 15rem;
  min-width: 40rem;
  height: auto;
  max-height: 40rem;
  border: 2px solid rgb(255, 106, 0);
  border-radius: 1rem;
  overflow: hidden;
}

.sub-categories-article {
  align-content: flex-start;
  flex-direction: column;
}

.sub-categories-gender {
  background-color: rgb(248, 193, 151);
  cursor: pointer;
  flex-direction: column;
  padding: 0.5rem 0;
}

.category {
  min-height: 3rem;
}

.sub-categories-div {
  flex-direction: column;
  height: auto;
  cursor: pointer;
  background-color: var(--white-color-1);
}

.sub-category-div {
  flex-direction: column;
  row-gap: 0.3rem;
  padding: 0.5rem 0;
}

.sub-category {
  min-height: 3rem;
}
